<div class="large-8 columns" id="item-description">
    <div class="item-desc active" id="panel1">
        <ul class="pricing-table">
            <li class="title">Toyota X Corolla</li>
            <li class="price">৳ 1,200,000.00</li>
            <li class="bullet-item">
                <i class="fa-calendar-o fa"></i> 2005 Model
            </li>
            <li class="bullet-item">
                <i class="fa fa-pencil-square-o"></i> Registered in 2009
            </li>
            <li class="bullet-item">
                <i class="fa-paint-brush fa"></i> Silver coloured exterior
            </li>
            <li class="bullet-item">
                <i class="fi-battery-half"></i> CNG + Octane
            </li>
            <li class="bullet-item">
                <i class="fa-gears fa"></i> AC + TV + DVD Player
            </li>
            <li class="description">
                <i class="fa-warning fa"></i> Do not contact if you are a car dealer.
                <br/>
            </li>
            <li class="cta-button">
                <a class="button" href="#formT">
                    <i class="fi-telephone"></i> Contact us to buy
                </a>
            </li>
        </ul>
    </div>
</div>