<form action='//adkave.com/api/' method="post">
<div class="row">
  <div class="medium-10 columns">
    <input type="hidden" name="secret" value="xXxAPIKEYxXx">
    <input type="hidden" name="client_name" value="mirfish">
    <div class="row">
      <label for="name">আপনার নামঃ </label>
      <input class="form-control" type="text" name="name" id="name" placeholder="জন খান">
    </div>
    <div class="row">
      <label for="number">আপনার নাম্বারঃ </label>
      <input type="text" name="contact" id="number" placeholder="+8801710000000">
    </div>
    <input type="hidden" name="ttc" value="any">
    <input type="hidden" name="comment" value="None">
    <div class="row">
    <button type="submit" class="success round">Submit</button>
    </div>
  </div>
</div>
</form>