<form action='//adkave.com/api/' method="post">
<div class="row">
  <div class="medium-10 columns">
    <input type="hidden" name="secret" value="ODZkMmYyZjMxODIyNzlkYzNiZGI0ZThiYTYzMzI1ZDk3ODI1Yz">
    <input type="hidden" name="client_name" value="galaxyit">
    <div class="row">
      <label for="name">Full Name:</label>
      <input class="form-control" type="text" name="name" id="name" placeholder="John Doe">
    </div>
    <div class="row">
      <label for="email">Your email</label>
      <input type="email" name="contact" id="email" placeholder="me@adkave.com">
    </div>
    <input type="hidden" name="ttc" value="any">
    <input type="hidden" name="comment" value="None">
    <button type="submit" class="success">Submit</button>
  </div>
</div>
</form>