<div id="my_popup">
    <div class="row text-center fb_like">
        <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fnogorads&amp;width=65&amp;layout=box_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=64&amp;appId=196394973846100" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:48px; height:64px;" allowTransparency="true" id="fb_like"></iframe>
    </div>
    <div class="row gray"><a href="#" id="close_popup">&times;</a></div>
    <!-- /.row x-center -->
</div>