<div class="large-4 columns" id="slider-parent">
  {% if site.slides %}
    <div class="flexslider">
        <ul class="slides">
            {% for slide in site.slides %}
            <li data-thumb="{{ slide.thumb }}">
                <img src="{{ slide.img }}" alt="{{ slide.caption }}">
            </li>
            {% endfor %}
        </ul>
    </div>
  {% endif %}
    <div class="logo-bottom">
        <img src="{{ site.second-logo.img }}" alt="{{ site.second-logo.title }}" />
        <span class="logo-text">
        	{{ site.second-logo.text }}
        </span>
    </div>
</div>