@import "settings";
@import "compass";
@import "../components/foundation/scss/foundation";
@import "../components/foundation-icon-fonts/foundation-icons";
@import "../components/fontawesome/scss/font-awesome";
@import "../components/flexslider-scss/flexslider";
@import "../components/colors/sass/colors";

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.beneath-1 {
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  .large-4 a {
    margin: 5px 0;
    padding: 0.7em;
  }
}

.hero-content {
  background-color: #fff;
  margin-top: 54px;
  position: relative;
  -webkit-box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.1);
  .row {
    padding-top: 2em;
  }
  .panel .row {
    padding: 0;
  }
}

.logo-bottom {
  display: flex;
  border: 2px solid #f62;;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 1em;
  img {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .logo-text {
    padding: 5px 10px;
  }
}
#logo{
  height: 54px !important;
}

p {
  font-size: 0.9rem;
}

a[href="#formT"].radius.button {
  padding: 0.5em 1em;
  font-size: 1.2em;
}

.item-desc {
  display: none;
}

.item-desc.active {
  display: block;
}

#my_popup {
  transform: scale(0.8);
  width: 100%;
  height: 100%;
}

.popup_visible #my_popup {
  transform: scale(1);
}

.single-close {
  color: $black;
  top: 0;
  position: absolute;
  left: 0;
}

.fb_like {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.x-center{
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.y-center {
  position: absolute;
  left: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}