<!DOCTYPE html>
<html class="no-js" lang="en">
{% include _head.html %}
<body>
{% include _nav.html %}
<div class="hero-content">
    <div class="row">
        {% include _slide.html %}
        {% include _desc.html %}
    </div>
    <div class="row">
        {% include _callout_row.html %}
    </div>
    <div class="row hide" id="formT">
        {% include _form_row.html %}
    </div>
    <div class="row hide">
        {% include _like_box.html %}
    </div>
</div>
{% include _footer.html %}
{% include _foot_js.html %}
</body>
</html>
